<div class="bg-info">
  <p class="text-capitalize text-center p-1">
    Here go the System Traces
  </p>
</div>
<div class="card card-outline-primary">
  <span class="fa fa-arrow-down m-2"> User extract Meet to storage</span>
</div>
