<div class="row">
  <div class="col-10 border-dark">
    <ul class="nav nav-pills nav-fill justify-content-center">
      <li class="nav-item">
        <a class="nav-link"
           [class.active]="selectedTypeProduct === 'SimpleProduct'" (click)="changeTypeProduct('SimpleProduct')">
          Simple Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [class.active]="selectedTypeProduct === 'ComplexProduct'" (click)="changeTypeProduct('ComplexProduct'); resetPage()">
          Complex Product
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-success" (click)="addProduct(); generateCode()" [routerLink]="'editor'">Add Product</a>
      </li>
    </ul>
    <div class="clearfix">
      <hr/>
    </div>
    <div class="row">
      <template *ngFor="let product of getProductsComponent()" class="card card-outline-primary">
        <h4 class="card-header"> {{product.name}}
          <span
            class=" badge badge-primary pull-right m-1">{{ getPrice(product) | currency:"USD":true:"2.2-2" }}</span>
          <span
            class=" badge badge-info pull-right m-1">{{ getQuantity(product) }}</span>
        </h4>
        <!--<fa name="cog" animation="spin"></fa>-->
        <div class="row">
          <div class="col-8">
            <div *ngIf="getTypeProduct() === 'SimpleProduct'">
              <p class="m-3">{{product.description}}
              </p>
            </div>
            <div class="m-3" *ngIf="getTypeProduct() === 'ComplexProduct'">
              <p>{{product.description}}
              </p>
              <p>{{getIngredientsToString(product.code)}}</p>
            </div>
          </div>
          <div class="col-4">
            <button class="btn btn-sm btn-danger pull-right m-1" (click)="deleteProduct(product.code)"> Delete</button>
            <button class="btn btn-sm btn-info pull-right m-1"
                    [routerLink]="['editing', getTypeProduct(), product.code]" (click)="generateCode()">Edit
            </button>
          </div>
        </div>
      </template>
    </div>
    <div class="form-inline pull-left m-1">
      <select class="form-control" [value]="productsPerPage" (change)="changePageSize($event.target.value)">
        <option value="3">3 per Page</option>
        <option value="4">4 per Page</option>
        <option value="6">6 per Page</option>
        <option value="8">8 per Page</option>
      </select>
    </div>
    <div class="btn-group pull-right">
      <button *ngFor="let page of getPageNumbers()" (click)="changePage(page)" class="btn btn-outline-primary"
              [class.active]="page === selectedPage"> {{page}}
      </button>
    </div>
  </div>
</div>
