<div class="text-capitalize text-center bg-info p-1"><h5>{{editing ? "Edit" : "Add"}}
  Product</h5></div>
<form #form="ngForm" novalidate (ngSubmit)="save(form)" class="m-1">
  <div class="form-group" [hidden]="editing">
    <div class="row">
      <div class="col-6">
        <label>Simple Product</label>
        <input class="m-1" type="radio" [(ngModel)]="productType"
               value="SimpleProduct" name="productType">
      </div>
      <div class="col-6">
        <label>Complex Product</label>
        <input class="m-1" type="radio" [(ngModel)]="productType" value="ComplexProduct" name="productType">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" #name="ngModel" name="name"
           [(ngModel)]="product.name" required/>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input class="form-control" #name="ngModel" name="description"
           [(ngModel)]="product.description" required/>

  </div>
  <div class="form-group">
    <label>Quantity</label>
    <input class="form-control" #name="ngModel" name="quantity"
           [(ngModel)]="product.quantity" required/>
  </div>

  <div *ngIf="productType == 'SimpleProduct'; then simpleForm else complexForm"></div>
  <ng-template #simpleForm>
    <div class="form-group">
      <label>Cost Price</label>
      <input class="form-control" #name="ngModel" name="price"
             [(ngModel)]="simpleProduct.cost_price" required/>
    </div>
  </ng-template>
  <ng-template #complexForm>
    <form #form="ngForm" novalidate (ngSubmit)="checkedQuantity() ? addIngredient(form) : haveQuantity = false" class="m-1">
      <div class="row">
        <div class="col-4">
          <mat-form-field>
            <mat-select placeholder="Ingredients" [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let products of getProducts()" [value]="products.code" [disabled]="isIngredient(products)">{{products.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-4">
          <div class="form-group">
            <input class="form-control m-3" #name="ngModel" name="ingredient_quantity"
                   [(ngModel)]="ingredientProduct.quantity" placeholder="Ingredient Quantity" required/>
          </div>
        </div>
        <div class="col-4">
          <button class="btn btn-info m-3" type="submit" [disabled]="isIngredient(getProduct(selected))" > Add Ingredient</button>
        </div>
      </div>
      <div class="m-3">
        <table class="table table-sm">
          <thead>
          <tr>
            <th>Ingredient</th>
            <th>Quantity</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ingredient of getIngredients()">
            <td>{{getNameByCode(ingredient.ingredient_code)}}</td>
            <td>{{ingredient.quantity}}</td>
            <td>
              <button class="btn btn-danger m-3" type="submit" (click)="deleteIngredient(ingredient.ingredient_code)">
                Delete
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>
  </ng-template>
  <div class="text-center m-2">
    <button class="btn btn-info m-3" type="submit">{{editing ? 'Edit' : 'Add'}}
      Product
    </button>
    <button class="btn btn-danger m-3" type="submit" [routerLink]="'/product'" (click)="resetTypeProduct()">Cancel
    </button>
  </div>
</form>
